<!doctype html>

<html>

	<head>
		<title>My first HTML document</title>
		<link rel="stylesheet" href="/static/style.css">
	</head>

	<body>
		{% if opinion %}
			<h1>THis is my {{ opinion }} body</h1>
		{% else %}
			<h1>I have no opinions</h1>
		{% endif %}
		<!-- This is a paragraph -->
		<p>Thkljgor itirothr kkojhhgj hotirhoihr svjkfvbe ghdfviohoitg  ohoifhoeighoerigherogihclnv jhgfjckjaioeoryer  kkhsohfogiregoierg ihvfdjvjkfgkjetgioe iiegolsnlsdbndbklnh tetiyeoioi thrht iereigohfvdfhfohehg[ow jhghergoie kjfjhfgjfhgru jkath ehiwohf hhoetht eoiiheoih iwhrwihwih iheihihrhhritr ojjfdikfjffkvnrt ijifikklf kjtkrtjrk kjieid kjteke</p>
		<h2>THis is my handsome body</h2>
		<img src="/static/money.jpg">
		<h3>THis is my handsome body</h3>
		<a href="http://www.google.com">Click Me</a>
		<h4>THis is my handsome body</h4>
		<ol>
			<li>Mangoes</li>
			<li>Bananas</li>
			<li>Oranges</li>
		</ol>
		<ul>
			<li>Mangoes</li>
			<li>Bananas</li>
			<li>Oranges</li>
		</ul>
		<h5>THis is my handsome body</h5>
		<table>
			<tr>
				<th>Fruits</th>
				<th>Food</th>
			</tr>
			<tr>
				<td>Bananas</td>
				<td>Pilau</td>
			</tr>
			<tr>
				<td>Apples</td>
				<td>Biryani</td>
			</tr>
		</table>

		<h6>THis is my handsome body</h6>
	</body>

</html>